*{
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  transition: all 0.5 ease;
}



html, body {
  height: 100%;
  overflow-x: hidden;
}

.home-section, html, body {
  /* background: #E4E9F7; */
}


.h1_header {
  /* display: inline-block; */
  margin: 0% 0% 0% 2%;
  background: linear-gradient(90deg,#2ec2a3,#0f5bab); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0% 0% 0% 0%;
}
.h1_header_test {
  /* display: inline-block; */
  margin: 0% 0% 0% 2%;
  background: linear-gradient(90deg,#2ec2a3,#0f5bab); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 2% 0% 0% 0%;
}
/*  ----------------------------- Modal Close -----------------------------  */

.modal-header .close {
  background-color: transparent;
  border: none;
}

/*  ----------------------------- HOME PAGE (Start) -----------------------------  */
.homelabel {
  font-family: 'Ubuntu', sans-serif;
  
  min-height: 2vh;
  
  margin: 0% 4% 0% 3%;
  padding: 0% 0% 3% 0%;

  background: linear-gradient(1deg,#2ec2a3,#0f5bab); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}


.homewrapper {
  margin: 0% 0% 0% 0%;
  max-width: 100%;  
  padding: 2% 7%;
  margin: 0 auto;
  box-sizing: border-box;
  height: 100%;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

@media (max-width: 768px) {
  .homewrapper {
    padding: 0 10px;
  }
}

@media (max-width: 576px) {
  .homewrapper {
    padding: 0 5px;
  }
}


/* ----- GUEST HOME PAGE ----- */


.homewrapper_guest {
      margin: 0% 0% 0% 0%;
      width: 100%;
      max-width: 100%;
      padding: 0;
      height: 100vh;
      max-height: 100%;
      position: relative;
      background-color: #5493f1;
      background-image: linear-gradient(rgba(36,47,73,0.5),
      rgba(36,47,73,0.5)), url('../images/home/HomeGuestWallpaper.png');        
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    @media (max-width: 768px) {
      .homewrapper_guest {
        padding: 0 0px;
      }
    }
    
    @media (max-width: 576px) {
      .homewrapper_guest {
        padding: 0 0px;
      }
    }

    .labelcontainer {
      margin: 0% 0% 0% 0%;
      width: 100%;
      max-width: 100%;
      padding: 0% 0% 1% 0%;
      margin: 0 auto;
      box-sizing: border-box;
      height: 100%;
      max-height: 100%;
      display: flex;
      flex-direction: column;

    }
  

   .firstlabel {
    font-family: montserrat;
    color: #fff;
    font-size: 60px;
    width: 100%;
    max-width: 100%;
    height:10%;
    margin: 22% 0% 0% 7%;
  }

  @media (max-width: 768px) {
    .firstlabel {
      font-size: 45px; /* Adjust font size for smaller screens */
    }
  }
  
  /* Media query for even smaller screens */
  @media (max-width: 480px) {
    .firstlabel {
      font-size: 25px; /* Further adjust font size for even smaller screens */
    }
  }

  .secondlabel {
    font-family: montserrat;
    letter-spacing: 3.9px;
    font-size: 17px;
    color: #c0e8f8;
    font-weight: 600;
    width: 100%;
    max-width: 100%;
    height:50%;
    margin: 0% 0% 0% 7.3%;
  }

  @media (max-width: 768px) {
    .secondlabel {
      font-size: 10.7px; /* Adjust font size for smaller screens */
    }
  }
  
  /* Media query for even smaller screens */
  @media (max-width: 480px) {
    .secondlabel {
      font-size: 8px; /* Further adjust font size for even smaller screens */
    }
  }

.homeguestlogo {
  position: absolute;
  width:6.5%;
  height: 14%;
  max-width: 100%;
  max-height: 100%;
  opacity: 0.8;
  margin: 1.1% 0% 1% 1.4%;
}

@media (max-width: 768px) {
  .homeguestlogo {
    width: 9%;
    height: 20%;
    min-width: 11.5%;
  min-height: 5%; /* Adjust font size for smaller screens */
  }
}

/* Media query for even smaller screens */
@media (max-width: 480px) {
  .homeguestlogo {
    width: 9%;
    height: 20%;
    min-width: 11.5%;
  min-height: 5%; /* Adjust font size for smaller screens */
  }
}
  
     /* ----- GUEST HOME PAGE ----- */


/*---  BOX CONTAINERS  ---*/
.box-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1px;
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding: 0% 0% 0% 0%;
  
}

.box-container2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1px;
  margin-top: 2%;
  width: 100%;
  
  max-width: 100%;
  height: 100%;
  padding: 1% 0% 0% 0%;

}

.box {
  height: 178px;
  width: 29.5%;
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(0, 30, 87, 0.751);
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.box1 {
background-color: #17afb5;
}

.box2 {
background-color: #128098;
}

.box3 {
background-color: #0a5f71;
}

.box4 {
background-color: #2166a6;
}

.box5 {
background-color: #143860;
}

.box6 {
 background-color: #141846;
}


.box:hover {
  transform: scale(1.1);
  cursor: default;
}
 
 
.box img {
  height: 32%;
  width: 17%;
  max-width: 100%;
}
.box .text {
  color: white;
}

.topic {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
}
 
.topic-heading {
  font-size: 32px;
  letter-spacing: 3px;
  color: #fff;

}
  
/*  ----------------------------- HOME PAGE (End) -----------------------------  */

/*  ----------------NAVIGATION BAR (Start)----------------  */

/*  ----------------LOGO AND NAME OF THE WEBSITE (Start)----------------  */

.sidebar .logo a span{
color: #FFFFFF;
font-weight: 900;
}

/*  ----------------LOGO AND NAME OF THE WEBSITE (End)----------------  */

.sidebar .menu ul{
display: block;
padding: 10px;
}

.sidebar .menu ul a {
text-decoration: none;
display: block;
width: 190px;
margin-bottom: 20px;
margin-top: -10px;
padding: 10px;
background: #1ac8cd;
text-align: center;
font-size: 12px;
text-transform: uppercase;
color: #fff;
border-radius: 7px;
letter-spacing: 2px;
transition: all 0.2s ease;
}

  .sidebar .menu ul :last-child a {
   margin-right: 0px;
}

.sidebar .menu ul  a:hover, 
.sidebar .menu ul  a:active {
background: #5bd485;
} 

/*  ----------------LOGO AND NAME OF THE WEBSITE (End)----------------  */

/*  ----------------TABLE WRAPPER FOR THE VIEW TABLES----------------  */

.table-wrapper {
 overflow-x: auto;
 margin: 0% 0% 0% 0%;
 padding: 2% 0% 0% 3%;
 width: 100%;
 height: 100%;
 max-width: 100%;
 max-height: 100%;
 overflow: hidden;

}

@media (max-width: 768px) {
  /* Adjust the max-width value according to your needs */
  #myDiv {
    width: 100%; /* Div width for smaller screens */
  }
}


@media screen and (max-width: 600px) {
  table-wrapper {
    border: 0;
    font-size: 3px; /* Remove borders for smaller screens */
  }
  
  th, td {
    display: block;
    width: 100%;
  }
  
  th {
    text-align: left;
  }
}


/*  ----------------------------- ADD CUSTOMER FORM (Start) -----------------------------  */

.wrapper2 {
  /* background-image: linear-gradient(rgba(196,192,226,0.3),rgba(196,192,226,0.3));
  margin: 160% 0% 0% 130%;
  width: 160%;
  padding: 7% 4% 1% 4%;
  border-radius: 7px; */

  background-image: linear-gradient(rgba(196,192,226,0.3), rgba(196,192,226,0.3));
  margin: 19% 0% 0% 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  padding: 2% 0% 0% 0%;
  border-radius: 7px;
} 

@media only screen and (min-width: 768px) {
  .wrapper2 {
    max-width: 100%;
  }
}

.h1_CustomerRegistration{
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 1vh;
  margin: auto;

  background: linear-gradient(90deg,#2ec2a3,#0f5bab); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p {
  font-family: 'Ubuntu', sans-serif;
  justify-content: center;
  padding: 5% 0% 5% 0%;  
}

.fillupform {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  flex-direction: column;
  gap: 25px;
  background-image: linear-gradient(rgba(255,255,255,0.0),rgba(255,255,255,0.0));
}


.searchform {
  width: 40%;
}



/*  -------------- ADD PRODUCT (Start) --------------  */

.h1_ProductRegistration{
  display: flex;
  justify-content: center;
align-items: center;
min-height: 6vh;

background: linear-gradient(90deg,#2ec2a3,#0f5bab); 
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}


.RegistrationSpan {
  color: #FFFFFF;
}

.p {
  display: flex;
  justify-content: center;
align-items: center;
flex-direction: column;
}

.productform {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  flex-direction: column;
  gap: 25px;
  background-image: linear-gradient(rgba(255,255,255,0.0),rgba(255,255,255,0.0));
}




/*  -------------- ADD PRODUCT (End) --------------  */

.inputbox {
  position: relative;
  width: 70%;
}
  
  .inputbox input {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(130,140,147,0.9);
  background: 1d2b3a;
  border-radius: 9px;
  outline: none;
  font-size: 1em;  
  }
  
  .inputbox span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 0.8em;
  color: rgba(0,0,0,0.5);
  text-transform: uppercase;
  }
  
  .inputbox input:valid ~ span,
  .inputbox input:focus ~ span  { 
  color: #828c93;
  tranform: translateX(10px) translateY(-7px);
  font-size: 0.01em;
  padding: 5px;
  margin-left: 10px;
  margin-bottom: 20%;
  background-image: linear-gradient(rgba(196,192,226,0.1),rgba(196,192,226,0.1)); 
  }
  
  .inputbox input:valid,
  .inputbox input:focus  {
  border: 1px solid #828c93;
  }
  
  
  
.btn-confirm {
  display: block;
  width: 30%;
  max-width:100%;
  margin: 5% 0% 0% 0%;
  text-align: center;
  cursor: pointer;

  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  background: #1ac8cd;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

.btn-confirm:hover, 
.btn-confirm:active {
  background: #5bd485;
} 


@media only screen and (min-width: 768px) {
.btn-confirm {
  max-width: 220px;
 }
}

/*  ----------------------------- FORM (End) -----------------------------  */

/* .container {
  position: relative;
}

.signature-container {
  position: absolute;
} */

/* --------------MAKE QUOTATION NEXT PROCESS WRAPPER------------- */
.wrapper4 { 
  background-image: linear-gradient(rgba(196,192,226,0.3),rgba(196,192,226,0.3));
  width: 100%;
  max-width: 100%;
  height: 60%;
}

.float_quotationcontainer {
}

.h1_AddQuotation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  min-height: 7 vh;
  font-weight: 3px;
  background: linear-gradient(90deg,#2ec2a3,#0f5bab); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.p {
  font-family: 'Ubuntu', sans-serif;
  justify-content: center;
  align-items: center;
}

.custom-dropdown .dropdown-menu {
  margin-left: 90%;
  margin-top: 295px;
  width:70%;
  padding: 10px;
}

/* QTY DROPDOWN */

.qtyquotation {
  position: absolute;
  margin-left: 830px;
  width: 170px;
  margin-top: 110px;
}

.qtyquotation input {
  width: 100%;
  padding: 7px;
  border: 1px solid rgba(130,140,147,0.9);
  background: 1d2b3a;
  border-radius: 9px;
  outline: none;
  font-size: 1em;  
}

.qtyquotation span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 0.8em;
  color: rgba(0,0,0,0.5);
  text-transform: uppercase;
}

.qtyquotation input:valid ~ span,
.qtyquotation input:focus ~ span  {
  color: #828c93;
  tranform: translateX(10px) translateY(-7px);
  font-size: 0.01em;
  padding: 5px;
  margin-left: 10px;
  background-image: linear-gradient(rgba(196,192,226,0.1),rgba(196,192,226,0.1));
}

.qtyquotation input:valid,
.qtyquotation input:focus  {
border: 1px solid #828c93;
}

.btn-add {
  display: block; /* UNMOVABLE WHEN CHANGING WINDOW SIZE */
  margin-left: 38px;
  margin-top: 15px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  background: #1ac8cd;
  width: 100px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-clear {
  display: block; /* UNMOVABLE WHEN CHANGING WINDOW SIZE */
    margin-left: 160px;
    margin-top: -32px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    background: #7bafba;
    width: 100px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-makequotation {
  display: block;
  justify-content: center;
  margin-left: 50px;
  margin-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  background: #1ac8cd;
  width: 200px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.btn-makequotation:hover, 
.btn-makequotation:active {
  background: #5bd485;
}

/* -----------------GRAND TOTAL---------------------------------------------------------- */
.wrapper5 {
  background-image: linear-gradient(rgba(196,192,226,0.1),rgba(196,192,226,0.1));
  margin-left: 0.3%;
  margin-top: 1px;
  width: 100%;
  height: 270%;
}
.h4_GrandTotalName  {
  padding-left: 50px;
  background: linear-gradient(90deg,#536976,#292E49); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/*------------------------VIEW QUOTATION---------------------------------*/

.description .qty .unitprice .subtotal {
  background-color: #163f75;
  color: #fff;
}

.content_table {   /* TABLE */
  margin: auto;
  border-collapse: collapse;
  border-color: black;
  text-align: center;
  width: 90%;
}
.table-title {   /* AUXILIARY EQUIPMENTS */
  background-color: #163f75;
  color: #ffffff;
  padding: auto;
  text-align: left;
  height: 49px;
  border-bottom: 0.9px solid #163f75;
  border-right: 0.9px solid #163f75;
  border-left: 0.9px solid #163f75; 
}        .tabledetails th{
  height: 49px;
  padding: auto;
  text-align: center;
  border-bottom: 1.3px solid #163f75;
  border-right: 1.3px solid #163f75;
  border-left: 1.3px solid #163f75; 
  background-color: #163f75;
  color: #fff;
}
.content_table td  {   
  background-color: white;
  padding: 12px 15px;
  border-bottom: 1.3px solid #163f75;
  border-right: 1.3px solid #163f75;
  border-left: 1.3px solid #163f75;    
}
.content_table tbody tr {    /* BORDERS */
  border-bottom: 0.9px solid #163f75;
  border-right: 0.9px solid #163f75;
  border-left: 0.9px solid #163f75;
}

/*---------------- SUCCESS INFORMATION (Start) ---------------- */


.wrappersuccess {
    background-image: linear-gradient(rgba(196,192,226,0.3),rgba(196,192,226,0.3));
    margin-left: -34%;
    margin-top: -18%;
    padding-top: 200px;
    padding-left: 110px;
    width: 1200px;
    height: 640px;
    border-radius: 5px;
  }
  .wrappersuccess h1  {
    font-weight: bold;
    padding-left: 40px;
    padding-top: 18px;
    font-size: 71px;
    min-height: 3vh;
    background: linear-gradient(70deg,#014082,#0dd0df); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .btn-makeanewquotation {
    display: block;
    margin-left: 33%;
    margin-top: 50px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    background: #1ac8cd;
    width: 220px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
  
  .btn-viewquotation {
    display:block;
    margin-left: 33%;
    margin-top: 25px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    background: #1ac8cd;
    width: 220px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
  /*---------------- SUCCESS INFORMATION (End) ---------------- */


  
.loginwrapper {
  background-image: linear-gradient(rgba(196,192,226,0.3),rgba(196,192,226,0.3));
    position: absolute;
    margin: 1% 0% 0% 32%;
    width: 35%;
    max-width: 100%;
    height: 72%;
    padding: 0% 0% 0% 0%;
    border-radius: 7px;
  }
  
  
  .login_mediaonelogo {    
  border-radius: 7px;
  margin: 1% 0% 0% 40%;
  width: 20%;
  max-width:100%;
  height: auto;



  }

  
  .login_QuotationFormSystem { 
    border-radius: 7px;
    margin: 0% 0% 0% 28%;
    width: 45%;
    max-width:100%;
    height: 15%;
  
  }
  
  
  .loginbox  {
    position: relative;
    width: 70%;
    max-width: 100%;
    padding: 2px;
    margin-bottom: 1px;
  }
  
  
  
  .loginbox input {
    width: 100%;
    max-width: 100%;
    padding: 7px;
    border: 1px solid rgba(130,140,147,0.9);
    background: 1d2b3a;
    border-radius: 9px;
    outline: none;
    font-size: 1em;  
  }
  
  .loginbox span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 0.8em;
    color: rgba(0,0,0,0.5);
    text-transform: uppercase;
  }
  
  .loginbox input:valid ~ span,
  .loginbox input:focus ~ span  {
  
  color: #828c93;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.01em;
  padding: 5px;
  margin: 0% 0% 2% 7%;
  background-image: linear-gradient(rgba(196,192,226,0.1),rgba(196,192,226,0.1));
  
  }
  
  .loginbox input:valid,
  .loginbox input:focus  {
  
  border: 1px solid #828c93;
  
  }
  
  
  .btn-login {
     justify-content: center;
   
     margin: 0% 0% 0% 25%;
     width: 50%;
     max-width: 100%;
     height: 10%;
      padding: 6px;
     
   /* DESIGN */
   font-family: 'Ubuntu', sans-serif;
   font-size: 14px;
   background: #1ac8cd;
   text-align: center;
   text-decoration: none;
   text-transform: uppercase;
   color: #fff;
   border-radius: 5px;
   cursor: pointer;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
   }
   
   
   @media only screen and (min-width: 768px) { 
     
     .btn-confirm {
       max-width: 100%; 
     }
   }
   
   
   
   .btn-confirm { /* ALL "CONFIRM" BUTTONS */
   
    display: block;
     width: 100%;
   
   
     max-width: 220px;
   
   
     margin: 4% auto;
     text-align: center;
     cursor: pointer;
   
     
     /* DESIGN */
     font-family: 'Ubuntu', sans-serif;
     font-size: 14px;
     background: #1ac8cd;
     padding: 15px;
     text-decoration: none;
     text-transform: uppercase;
     color: #fff;
     border-radius: 5px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
     }
   
   .btn-confirm:hover, 
   .btn-confirm:active {
     background: #5bd485;
   } 
   
   @media only screen and (min-width: 768px) { 
     /* Add your desired breakpoint value */
     .btn-confirm {
       max-width: 220px; /* Add your desired max-width value */
     }
   }
  
 
  /*-----------------------FOR INPUT GLOW LIKE BOOTSTRAP--------------------------*/

input:focus, input:hover, 
textarea:focus, textarea:hover,
select:focus, select:hover {
  
  border-color: #80bdff;  
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);

}

 /*------------------------- REGISTRATION-----------------------------------------*/

.registerwrapper {
  background-image: linear-gradient(rgba(196,192,226,0.3),rgba(196,192,226,0.3));
    margin: 1% 0% 0% 23%;
    width: 55%;
    height: 75%;
   padding: 2% 2% 2% 2%;
    border-radius: 7px;
  }

  @media only screen and (min-width: 768px) {
    .registerwrapper {
      max-width: 768px;
    }
  }
  
   
  .register_mediaonelogo {    
    border-radius: 7px;
   margin: 1% 0% 0% 0%;
    width:7.5%;
    max-width: 100%;
    height: 8%;
    }
    
    .register_QuotationFormSystem {
    width: 35%;
    height: 30%;
    max-width: 100%;
    height: 100px;
    margin: 0% 0% 0% 31%;
    
    }
    
  
    .h1_Register{
      display: flex;
      justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 100px;
    margin-bottom: 220px;
    min-height: 1vh;
    font-family: 'Open Sans';
    background-color: #1988d7; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
      /*  align-items: center;
      justify-content: center;  */
    }
  
  
    .registerform {
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    flex-direction: column;
    gap: 10px;
    /*  background: #1d2b3a; */
    background-image: linear-gradient(rgba(255,255,255,0.0),rgba(255,255,255,0.0)); */
    
    
    }
  
  
  .registerbox  {
  
    position: relative;
    width: 70%;
    max-width: 100%;
    padding: 2px;
    margin-bottom: 1px;
  }
  
  
  .registerbox input {
  width: 100%;
  padding: 7px;
  border: 1px solid rgba(130,140,147,0.9);
  background: 1d2b3a;
  border-radius: 9px;
  outline: none;
  font-size: 1em;  
  }
  
  .registerbox span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 0.8em;
  color: rgba(0,0,0,0.5);
  text-transform: uppercase;
  }
  
  .registerbox input:valid ~ span,
  .registerbox input:focus ~ span  {
  
  color: #828c93;
  tranform: translateX(10px) translateY(-7px);
  font-size: 0.01em;
  padding: 5px;
  margin: 0% 0% 2% 7%;
  background-image: linear-gradient(rgba(196,192,226,0.1),rgba(196,192,226,0.1));
  
  }
  
  .registerbox input:valid,
  .registerbox input:focus  {
  
  border: 1px solid #828c93;
  
  }
  
  
  .btn-register {
    justify-content: center;
    margin: 1% 0% 10% 30%;  
    width: 38%;
    max-width: 100%; 
    height: 18%;
    padding: 8px;

  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  background: #1ac8cd;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
  }
  
  @media only screen and (min-width: 768px) { 
    
    .btn-register {
      max-width: 100%; 
    }
  }
   
   
  
  
  
  
  
  /*  ----------------------------- REGISTER (End) -----------------------------  */


